<div id="register-edit" class="register-form">
    <form role="form">
        <h2>Modify User Account</h2>
        <hr>
        <table id="registerInput">
            <tr>
                <td> <strong>Username</strong>&nbsp;</td>
                <td>
                    <input type="text" id="editUsername" name="username" class="form-control" required autofocus>
                </td>
            </tr>
        </table>
        <div class="div-submit-btn">
            <button id="btn-submit-edit" class="btn btn-primary btn-submit-user" type="button">Edit</button>
        </div>
        <hr>
    </form>
</div>