{% extends "layout.html" %}
{% block title %} {{metInfo.pageTitle}} {% endblock %}
{% block head %}
{{ super() }}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='lib/select2-4.1.0/dist/css/select2.min.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='lib/select2-bootstrap-theme-0.1.0/dist/select2-bootstrap.min.css') }}">
<script type="text/javascript" src="{{ url_for('static', filename='lib/select2-4.1.0/dist/js/select2.full.min.js') }}"></script>
<!--  -->
<script type="text/javascript" src="{{ url_for('static', filename='lib/highcharts-10.2.1/highcharts.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='lib/highcharts-10.2.1/modules/windbarb.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='lib/highcharts-10.2.1/modules/exporting.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='lib/highcharts-10.2.1/modules/accessibility.js') }}"></script>
<link rel="stylesheet" type="text/css" href="{{ url_for('aws.static', filename='css/aws.css') }}">
{% endblock %}
{% block content %}
<div class="container-fluid">
    <div class="row wrapper">
        <!-- Left Panel -->
        <div class="col-sm-3 input-sidebar-left">
            <div class="row">
                <!-- Plot Time series -->
                <div class="col-md-12 sidebar box">
                    <div class="input-container">
                        <div class="input-container-title">
                            <span>Wind Data</span>
                            <span class="glyphicon glyphicon-plus input-container-icon"></span>
                        </div>
                        <div class="input-container-content">
                            <div>
                                <label class="control-label">Select Time Step</label>
                                <select id="timestepDispTS" class="form-control">
                                    <option value="minutes"> Minutes Data</option>
                                    <option value="hourly" selected>Hourly Data</option>
                                </select>
                            </div>
                            <!--  -->
                            <div>
                                <label class="control-label">Select Height</label>
                                <select id="windHeight" class="form-control"></select>
                            </div>
                            <!--  -->
                            <div>
                                <label class="control-label">Select Station</label>
                                <select id="stationDispAWS" class="form-control"> </select>
                            </div>
                            <!--  -->
                            <div>
                                <label class="control-label">Start Time</label>
                                <br>
                                <table class="aws-select-time ts-start-time"></table>
                            </div>
                            <!--  -->
                            <div>
                                <label class="control-label">End Time</label>
                                <br>
                                <table class="aws-select-time ts-end-time"></table>
                            </div>
                            <br>
                            <!--  -->
                            <div>
                                <button id="plotWindDataBut" class="btn btn-primary btn-block"> <i class="glyphicon glyphicon-refresh glyphicon-refresh-animate" style="display:none;"></i> Display Wind Barb</button>
                            </div>
                            <!--  -->
                            {% if session.logged_in %}
                            {% if session.data.useraction == 0 %}
                            <div class="download">
                                <button id="downWindDataBut" class="btn btn-primary btn-block">Download Data</button>
                            </div>
                            {% endif %}
                            {% endif %}
                            <!--  -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Right panel -->
        <div class="col-sm-9 main box">
            <ul class="nav nav-tabs" id="myTab">
                <li class="active"><a href="#dispbarb" data-toggle="tab">Wind Barb</a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="dispbarb">
                    <div id="contAWSGraph"></div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block javascript %}
<script type="text/javascript">
var DATA_USERS = JSON.parse('{{ dataUser | tojson }}');
var MTO_INIT = JSON.parse('{{ metInfo | tojson }}');
$('link[rel="shortcut icon"]').attr("href", "/static/images/" + MTO_INIT.iconImage);
$('.meteo-logo').attr("src", "/static/images/" + MTO_INIT.metLogo);
</script>
<!--  -->
{% if session.logged_in %}
{% if session.data.useraction == 0 %}
<script type="text/javascript" src="{{ url_for('static', filename='lib/highcharts-10.2.1/modules/export-data.js') }}"></script>
<!-- <script type="text/javascript" src="{{ url_for('aws.static', filename='js/export-Wind-Barb.js') }}"></script> -->
{% endif %}
{% endif %}
<script type="text/javascript" src="{{ url_for('aws.static', filename='js/aws-display-data.js') }}"></script>
<script type="text/javascript" src="{{ url_for('aws.static', filename='js/params-AWS-WindData.js') }}"></script>
<script type="text/javascript" src="{{ url_for('aws.static', filename='js/display-Wind-Barb.js') }}"></script>
{% endblock %}