{% extends "layout.html" %}
{% block title %} {{metInfo.metServiceLongname}} {% endblock %}
{% block head %}
{{ super() }}
<style type="text/css">
.titre-adt {
    grid-area: headr;
}

.image-hadt {
    grid-area: hadt;
}

.container {
    display: grid;
    grid-template-areas:
        'headr headr headr headr headr headr headr headr'
        'hadt hadt hadt hadt hadt hadt hadt hadt';
    grid-gap: 5px;
    padding: 2px;
}

.container>div {
    text-align: center;
}

.imgADTWelcome {
    width: 800px;
    height: 600px;
}

.daty-now {
    text-align: center;
}
</style>
{% endblock %}
{% block content %}
<div class="container">
    <div class="titre-adt">
        <h1>Welcome to {{metInfo.metServiceName}} AWS Data Tool (ADT)</h1>
    </div>
    <div class="image-hadt">
        <img class="imgADTWelcome" src="{{ url_for('static', filename='images/adt_aws_photo.png') }}" />
    </div>
</div>
<div>
    <p class="daty-now"> {{ date_now("%Y-%m-%d %H:%M") }}</p>
</div>
{% endblock %}
{% block javascript %}
<script type="text/javascript">
var DATA_USERS = JSON.parse('{{ dataUser | tojson }}');
var MTO_INIT = JSON.parse('{{ metInfo | tojson }}');
</script>
<script type="text/javascript" src="{{ url_for('static', filename='js/logo.js') }}"></script>
{% endblock %}